#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

#assets {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

#assets img {
  width: 580px;
  cursor: grab;
}

#character {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
}

#character img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#character img#base {
  position: relative;
  pointer-events: none;
}

#download {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.layer {
  cursor: grab;
}
